

*{
    font-family: "Sour Gummy", serif;
    color: #1f7c74
    
}
*:hover{
    color: #1a4b47;
}
h1{
    font-family: "Sour Gummy", serif;
    color: #0b062c;
}
p{
    font-family: "Josefin Sans", sans-serif;
    color: #193391;
    text-align: justify;

}
h2{
    font-family: "Sour Gummy", serif;
    color: #1f7c74;


}



header{
    background-color: rgb(220, 230, 131); 
    
}
header a{
    color: rgb(2, 83, 70);

   

}
.nav-item a{
    color: #0e3a36;
    
}
#boton-perfil{
    background-color: #cfe45b;
    color: #042421;
    
}
.nav-item a:hover{
    color: #152e2c;
}
#app{
    color: #4c07b9;

}
.boton-cv{
    background-color: #cfe45b;
    color: black;
    
}
.caja-habilidades{
    background-color: #c4c586;
    
}
.btn-proyecto{
    background-color: #cfe45b;
    font-family: "Josefin Sans", sans-serif;

}
.btn-proyecto a{
    text-decoration: none;
    color: black;
    

    
}
.card .card-title{
    color: black;
    font-family: "Josefin Sans", sans-serif;

    
}
.card .card-text{
    text-align: center;
    
}
#contacto{
    background-color: #d7db98;
    color: #041e41;
}
#btn-contacto{
    background-color: #cfe45b;
    color: black;
    font-family: "Sour Gummy", serif;
}
#btn-contacto:hover{
    background-color: rgb(98, 119, 128);
}
footer ul li a .bi{
    color: #0d0924;

    
}
footer p{
    color: #193391;
    font-family: "Sour Gummy", serif;
    
    
}
footer p a{
    text-decoration: none;
    color: #e511ec;
    font-family: "Sour Gummy", serif;
    
}
